/*----------------------------------*\
    Talc
\*----------------------------------*/
/*
 TABLE OF CONTENTS
    01. Variables....................Imported via gulp and can be found in _vars.scss
    02. Utilities......................The general styles like align-center etc.
    03. Components...................Other SCSS components like _dividers.scss, _navigation.scss etc.
    04. Default Tags.................Like <body>, <h1> etc.
*/
/* Variables */
/*----------------------------------*\
  	Variables
\*----------------------------------*/
/* Font Properties */
/*----------------------------------*\
    font variables
\*----------------------------------*/
/* importing font */
/*
@font-face {
  font-family: neki;
  src: url(./fonts/neki.otf);
  font-weight: 700;
}

*/
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway-Regular.ttf");
  font-weight: 400; }
@font-face {
  font-family: "Raleway Black";
  src: url("../fonts/Raleway-Black.ttf");
  font-weight: 700; }
@font-face {
  font-family: "Raleway Light";
  src: url("../fonts/Raleway-Light.ttf");
  font-weight: 300; }
@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway-Medium.ttf");
  font-weight: 500; }
/* Font Families */
/* Font Weights */
/* Colors */
/*----------------------------------*\
    color variables
\*----------------------------------*/
/* color variables */
/* colors you want to include in text and background */
/* percentage of darkening color */
/* percentage of lightening color */
/* Media Query Breakpoints */
/*----------------------------------*\
    spacings variables
\*----------------------------------*/
/************\
    header
\************/
/*************\
  breakpoints
\*************/
/* default */
/* xs2 */
/* xs */
/* sm */
/* md */
/* lg */
/* lg2 */
/******************\
  @media variables
\******************/
/* 0 px */
/* 320 px */
/* 480 px */
/* 768 px */
/* 992 px */
/* 1200 px */
/* 1440 px */
/* only  */
/* Grid */
/*----------------------------------*\
    grid variables
\*----------------------------------*/
/* number of columns */
/* column padding */
/* container spacing */
/* breakpoints */
/* Spacings */
/*----------------------------------*\
    color variables
\*----------------------------------*/
/* sizes of padding and margin */
/* prefixes */
/* responsive spacings */
/* Headings */
/*----------------------------------*\
    headings variables
\*----------------------------------*/
/*
$md-down = less than 1200px
$sm-down = less than 992px
$xs-down = less than 768px
 */
/* Mixins */
/*----------------------------------*\
    mixins
\*----------------------------------*/
/* Transitions */
/* Transforms */
/* Box-shaddow */
/* Global styling */
/*----------------------------------*\
    globals
\*----------------------------------*/
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  overflow-x: hidden;
  line-height: 1.6;
  height: 100vh;
  width: 100vw;
  background-color: #f7f7f7; }

section {
  position: relative; }

iframe {
  border: 0; }

main {
  display: block;
  height: 100%;
  width: calc(100% - 12px);
  margin: 0 6px; }

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0; }

li {
  display: block; }

dl {
  margin-top: 0;
  margin-bottom: 0; }

dd {
  margin-left: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0; }

i {
  font-weight: 400; }

blockquote {
  margin: 0;
  padding: 0; }

sup {
  position: relative;
  top: -.5em;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0; }

strong {
  font-weight: bold; }

figure {
  margin: 0; }

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

a {
  text-decoration: none;
  color: inherit; }

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible; }
  button:focus {
    outline: 0; }

form {
  width: 100%; }

p {
  margin: 0 0 10px; }

::-moz-focus-inner {
  border: 0;
  padding: 0;
  outline: 0; }

:focus {
  outline: 0; }

.overflow {
  overflow: hidden; }

/* Elements have padding and border included in the element's total width and height */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Utilities */
/*----------------------------------*\
  	Utilities
\*----------------------------------*/
/* utilities imports */
/*----------------------------------*\
    Backgruonds
\*----------------------------------*/
/* background properties */
.bg {
  /* background image */
  /* background-colors */ }
  .bg--image {
    background: no-repeat 50% 50%;
    background-size: cover; }
  .bg--white {
    background-color: #fff; }
    .bg--white.hover-d {
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -ms-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms; }
      .bg--white.hover-d:hover {
        background-color: #f2f2f2; }
    .bg--white.hover-l {
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -ms-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms; }
      .bg--white.hover-l:hover {
        background-color: white; }

/*----------------------------------*\
    Buttons
\*----------------------------------*/
/*----------------------------------*\
		Form
\*----------------------------------*/
/* Checkbox properties */
input {
  outline: none; }

textarea {
  resize: vertical; }

/*----------------------------------*\
		Headings
\*----------------------------------*/
/* heading sizes */
@media only screen and (min-width: 0px) {
  h1, .h1 {
    font-size: inherit; } }

@media only screen and (min-width: 0px) {
  h2, .h2 {
    font-size: inherit; } }

@media only screen and (min-width: 0px) {
  h3, .h3 {
    font-size: inherit; } }

@media only screen and (min-width: 0px) {
  h4, .h4 {
    font-size: inherit; } }

@media only screen and (min-width: 0px) {
  h5, .h5 {
    font-size: inherit; } }

@media only screen and (min-width: 0px) {
  h6, .h6 {
    font-size: inherit; } }

/* additional styling */
/*----------------------------------*\
    Images
\*----------------------------------*/
.img {
  display: block;
  width: 100%;
  height: auto;
  /* round image */ }
  .img--circle {
    border-radius: 50%; }
  .img__svg {
    width: 30%;
    height: 100%; }
    .img__svg:not(.right) {
      margin-left: auto; }

/*----------------------------------*\
    Spacings
\*----------------------------------*/
/*
	Margins and paddings
*/
.pt0 {
  padding-top: 0px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pt30 {
  padding-top: 30px; }

.pt45 {
  padding-top: 45px; }

.pt60 {
  padding-top: 60px; }

.pt90 {
  padding-top: 90px; }

.pt150 {
  padding-top: 150px; }

.pb0 {
  padding-bottom: 0px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pb30 {
  padding-bottom: 30px; }

.pb45 {
  padding-bottom: 45px; }

.pb60 {
  padding-bottom: 60px; }

.pb90 {
  padding-bottom: 90px; }

.pb150 {
  padding-bottom: 150px; }

.pr0 {
  padding-right: 0px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pr30 {
  padding-right: 30px; }

.pr45 {
  padding-right: 45px; }

.pr60 {
  padding-right: 60px; }

.pr90 {
  padding-right: 90px; }

.pr150 {
  padding-right: 150px; }

.pl0 {
  padding-left: 0px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.pl30 {
  padding-left: 30px; }

.pl45 {
  padding-left: 45px; }

.pl60 {
  padding-left: 60px; }

.pl90 {
  padding-left: 90px; }

.pl150 {
  padding-left: 150px; }

.mt0 {
  margin-top: 0px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mt45 {
  margin-top: 45px; }

.mt60 {
  margin-top: 60px; }

.mt90 {
  margin-top: 90px; }

.mt150 {
  margin-top: 150px; }

.mb0 {
  margin-bottom: 0px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb45 {
  margin-bottom: 45px; }

.mb60 {
  margin-bottom: 60px; }

.mb90 {
  margin-bottom: 90px; }

.mb150 {
  margin-bottom: 150px; }

.mr0 {
  margin-right: 0px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mr30 {
  margin-right: 30px; }

.mr45 {
  margin-right: 45px; }

.mr60 {
  margin-right: 60px; }

.mr90 {
  margin-right: 90px; }

.mr150 {
  margin-right: 150px; }

.ml0 {
  margin-left: 0px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.ml30 {
  margin-left: 30px; }

.ml45 {
  margin-left: 45px; }

.ml60 {
  margin-left: 60px; }

.ml90 {
  margin-left: 90px; }

.ml150 {
  margin-left: 150px; }

/*----------------------------------*\
    Table
\*----------------------------------*/
.table {
  overflow-x: auto; }
  .table table.responsive {
    width: 100%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse; }
    .table table.responsive td,
    .table table.responsive th {
      vertical-align: middle; }

/*----------------------------------*\
    Text
\*----------------------------------*/
/*
	Text properties
*/
/* text colors */
.text--white {
  color: #fff; }

/*
font weight
 */
/* text thin */
.text-thin {
  font-weight: 300; }

/* text normal */
.text-normal {
  font-weight: 400; }

/* text bold */
.text-bold {
  font-weight: 700; }

/*
text alignment
 */
/* Align text in center */
.text-center {
  text-align: center; }

/* Align text right */
.text-right {
  text-align: right; }

/*
text transform
 */
/* Uppercase text */
.text-uppercase {
  text-transform: uppercase; }

/* Capitalize text */
.text-capitalize {
  text-transform: capitalize; }

/*----------------------------------*\
    elements visibility
\*----------------------------------*/
.show {
  display: none; }
  @media only screen and (min-width: 0px) and (max-width: 767px) {
    .show-xs {
      display: flex; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .show-sm {
      display: flex; } }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .show-md {
      display: flex; } }
  @media only screen and (min-width: 1200px) and (max-width: 1439px) {
    .show-lg {
      display: flex; } }

/* Grid */
/*----------------------------------*\
    Grid
\*----------------------------------*/
/*
	Container and row
*/
/* Container main css and it's width */
.container {
  /*
      Responsive media query
      On Extra-Small screens and down, container is full width
  */
  /* Width 768px on small devices (768px and more) */
  /* Width 936px on medium devices (960px and more) */
  /* Width 1140px on large devices (1160px and more) */
  /* Width 1440px on large devices (1440px and more) */ }
  @media only screen and (min-width: 768px) {
    .container {
      width: 768px; } }
  @media only screen and (min-width: 992px) {
    .container {
      width: 960px; } }
  @media only screen and (min-width: 1200px) {
    .container {
      width: 1140px; } }
  @media only screen and (min-width: 1440px) {
    .container {
      width: 1440px; } }

/* Fluid container aka full width */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }

/* Row is wraper of columns, it removes extra padding of columns left and right to fit container width */
.row {
  margin-right: -12px;
  margin-left: -12px; }

/* Main flex class, without this, flex positioning is not working. Use "row" when using columns, if not, use "flex" */
.flex,
.row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

/*
	Flex alignment
*/
.flex {
    /*
	  Properties for parents - containers
		Direction of displayed flex items
	*/
  /* Direction of items left to right */
  /* Direction of items right to left */
  /* Direction of items top to bottom */
  /* Direction of items bottom to top */
    /*
	  Content alignment on main axis - X axis
	*/
  /* Justify content left */
  /* Justify content right */
  /* Justify content in center */
  /* Justify content with space between it */
  /* Justify content with space around it */
    /*
	  Content alignment on cross axis - Y axis
	*/
  /* Align items on top */
  /* Align items on bottom */
  /* Align items vertically in center */
  /* Stretch items to fill container */
    /*
	  Properties for children - flex items
	*/
  /* Align flex item on top */
  /* Align flex item on bottom */
  /* Align flex item in center */
  /* Stretch flex item to fill container */ }
  .flex--row {
    flex-direction: row;
    -webkit-flex-direction: row; }
  .flex--row-reverse {
    flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse; }
  .flex--column {
    flex-direction: column;
    -webkit-flex-direction: column; }
  .flex--column-reverse {
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse; }
  .flex--left {
    justify-content: flex-start;
    -webkit-justify-content: flex-start; }
  .flex--right {
    justify-content: flex-end;
    -webkit-justify-content: flex-end; }
  .flex--center {
    justify-content: center;
    -webkit-justify-content: center; }
  .flex--between {
    justify-content: space-between;
    -webkit-justify-content: space-between; }
  .flex--around {
    justify-content: space-around;
    -webkit-justify-content: space-around; }
  .flex--top {
    align-items: flex-start;
    -webkit-align-items: flex-start; }
  .flex--bottom {
    align-items: flex-end;
    -webkit-align-items: flex-end; }
  .flex--middle {
    align-items: center;
    -webkit-align-items: center; }
  .flex--stretch {
    align-items: stretch;
    -webkit-align-items: stretch; }
  .flex__item-top {
    align-self: flex-start;
    -webkit-align-self: flex-start; }
  .flex__item-bottom {
    align-self: flex-end;
    -webkit-align-self: flex-end; }
  .flex__item-middle {
    align-self: center;
    -webkit-align-self: center; }
  .flex__item-stretch {
    align-self: stretch;
    -webkit-align-self: stretch; }

/*
	Columns
*/
/* default styling for column */
[class*=' col-'],
[class^='col-'] {
  width: 100%;
  padding-right: 12px;
  padding-left: 12px; }

/* set column width */
/* create classes */
@media only screen and (min-width: 0px) {
  .col-xs-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%; }

  .col-xs-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%; }

  .col-xs-3 {
    max-width: 25%;
    flex-basis: 25%; }

  .col-xs-4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%; }

  .col-xs-5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%; }

  .col-xs-6 {
    max-width: 50%;
    flex-basis: 50%; }

  .col-xs-7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%; }

  .col-xs-8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%; }

  .col-xs-9 {
    max-width: 75%;
    flex-basis: 75%; }

  .col-xs-10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%; }

  .col-xs-11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%; }

  .col-xs-12 {
    max-width: 100%;
    flex-basis: 100%; } }
@media only screen and (min-width: 768px) {
  .col-sm-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%; }

  .col-sm-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%; }

  .col-sm-3 {
    max-width: 25%;
    flex-basis: 25%; }

  .col-sm-4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%; }

  .col-sm-5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%; }

  .col-sm-6 {
    max-width: 50%;
    flex-basis: 50%; }

  .col-sm-7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%; }

  .col-sm-8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%; }

  .col-sm-9 {
    max-width: 75%;
    flex-basis: 75%; }

  .col-sm-10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%; }

  .col-sm-11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%; }

  .col-sm-12 {
    max-width: 100%;
    flex-basis: 100%; } }
@media only screen and (min-width: 992px) {
  .col-md-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%; }

  .col-md-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%; }

  .col-md-3 {
    max-width: 25%;
    flex-basis: 25%; }

  .col-md-4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%; }

  .col-md-5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%; }

  .col-md-6 {
    max-width: 50%;
    flex-basis: 50%; }

  .col-md-7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%; }

  .col-md-8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%; }

  .col-md-9 {
    max-width: 75%;
    flex-basis: 75%; }

  .col-md-10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%; }

  .col-md-11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%; }

  .col-md-12 {
    max-width: 100%;
    flex-basis: 100%; } }
@media only screen and (min-width: 1200px) {
  .col-lg-1 {
    max-width: 8.33333%;
    flex-basis: 8.33333%; }

  .col-lg-2 {
    max-width: 16.66667%;
    flex-basis: 16.66667%; }

  .col-lg-3 {
    max-width: 25%;
    flex-basis: 25%; }

  .col-lg-4 {
    max-width: 33.33333%;
    flex-basis: 33.33333%; }

  .col-lg-5 {
    max-width: 41.66667%;
    flex-basis: 41.66667%; }

  .col-lg-6 {
    max-width: 50%;
    flex-basis: 50%; }

  .col-lg-7 {
    max-width: 58.33333%;
    flex-basis: 58.33333%; }

  .col-lg-8 {
    max-width: 66.66667%;
    flex-basis: 66.66667%; }

  .col-lg-9 {
    max-width: 75%;
    flex-basis: 75%; }

  .col-lg-10 {
    max-width: 83.33333%;
    flex-basis: 83.33333%; }

  .col-lg-11 {
    max-width: 91.66667%;
    flex-basis: 91.66667%; }

  .col-lg-12 {
    max-width: 100%;
    flex-basis: 100%; } }
/*----------------------------------*\
    Header
\*----------------------------------*/
.header {
  z-index: 997;
  /*
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  */ }
  .header__links {
    z-index: 998; }
    @media only screen and (max-width: 991px) {
      .header__links {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: 200ms;
        -moz-transition: 200ms;
        -ms-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms; }
        .header__links.open {
          visibility: visible;
          opacity: 1; } }
  .header__btn {
    z-index: 999; }
    @media only screen and (min-width: 992px) {
      .header__btn {
        display: none; } }

/*----------------------------------*\
    Footer
\*----------------------------------*/
.body {
  font-family: "Raleway", "", "", Arial;
  flex-direction: row;
  justify-content: center;
  margin: 35px 10px;
  max-height: calc(100% - 70px);
  width: calc(100% - 20px);
  overflow: hidden; }
  .body--inv {
    padding: 10px;
    width: calc(17.5% - 20px);
    align-items: flex-end;
    margin-right: 10px;
    height: 100%; }
    .body--inv__title {
      font-size: 1.2em;
      font-weight: 700; }
      .body--inv__title span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto; }
    .body--inv__list {
      font-weight: 500;
      font-size: 1.1em;
      width: 100%;
      text-align: end;
      padding: 10px; }
      .body--inv__list li {
        color: #4b626d;
        cursor: pointer;
        -webkit-transition: 200ms;
        -moz-transition: 200ms;
        -ms-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms; }
      .body--inv__list li:hover {
        color: #bb2d00; }
  .body--main {
    width: 65%;
    max-height: 100%;
    align-items: center;
    border: 2px solid #000;
    padding: 15px 10px; }
  .body--locations {
    padding: 10px;
    width: calc(17.5% - 20px);
    align-items: flex-start;
    margin-right: 10px;
    height: 100%; }
    .body--locations__title {
      font-size: 1.2em;
      font-weight: 700;
      margin-left: 5px; }
      .body--locations__title span {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: auto;
        margin-left: 15px; }
    .body--locations__list {
      font-weight: 500;
      font-size: 1.1em;
      width: 100%;
      text-align: start;
      padding: 10px 2px 0 18px; }
      .body--locations__list li {
        color: #4b626d;
        cursor: pointer;
        -webkit-transition: 200ms;
        -moz-transition: 200ms;
        -ms-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms; }
      .body--locations__list li:hover {
        color: #995b00; }

.intro {
  color: #525252;
  font-family: "Raleway", "", "", Arial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #cccccc; }
  .intro--title {
    color: #000;
    font-size: 2em;
    font-weight: 700; }
  .intro--img {
    max-width: 100%;
    height: auto;
    text-align: center; }
    .intro--img__container {
      min-width: 0;
      text-align: center; }
  .intro--lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px; }
  .intro--btn {
    padding: 5px 8px;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 2px;
    cursor: pointer;
    border: 3px solid rgba(158, 158, 158, 0.3);
    border-radius: 3px;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms; }
    .intro--btn:hover {
      border: 3px solid rgba(158, 158, 158, 0.5);
      background-color: rgba(0, 0, 0, 0.3); }
  .intro--msg {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.3em;
    font-weight: 500; }

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Raleway", Arial;
  font-size: 1.4em;
  font-weight: 700; }
  .loading--title {
    text-align: center; }
  .loading--wrapper {
    min-width: 20%;
    height: 100px; }

/* Components */
/*----------------------------------*\
  	Components
\*----------------------------------*/
/* components imports */
.room {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Layout items */
  /* other styles */ }
  .room--name {
    font-size: 1.35em;
    font-weight: 700;
    margin-bottom: 10px; }
  .room--image {
    width: 50%;
    height: auto; }
  .room--topdetails {
    margin-top: 15px;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: 500;
    font-size: 1em; }
  .room--description {
    width: 80%;
    font-size: 1em;
    text-align: justify;
    color: #0d0d0d; }
    .room--description__item {
      color: #d53300;
      cursor: pointer;
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -ms-transition: 200ms;
      -o-transition: 200ms;
      transition: 200ms; }
      .room--description__item:hover {
        color: #882100; }
  .room--action {
    color: #a22700;
    cursor: pointer;
    font-weight: 700;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
    transition: 200ms; }
    .room--action:hover {
      color: rgba(77, 46, 0, 0.8); }

main .game-section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.9s ease-in-out;
  -moz-transition: opacity 0.9s ease-in-out;
  -ms-transition: opacity 0.9s ease-in-out;
  -o-transition: opacity 0.9s ease-in-out;
  transition: opacity 0.9s ease-in-out;
  display: flex; }
  main .game-section.nodisplay {
    display: none;
    pointer-events: none; }
  main .game-section.active {
    opacity: 1;
    -webkit-transition: opacity 0.05s ease;
    -moz-transition: opacity 0.05s ease;
    -ms-transition: opacity 0.05s ease;
    -o-transition: opacity 0.05s ease;
    transition: opacity 0.05s ease; }

.spinner {
  margin: 15px auto 0;
  width: 70px;
  text-align: center; }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }
@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/*# sourceMappingURL=main.css.map */
